@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style type="text/css">
      body {
          padding-top: 0px;
          padding-bottom: 40px;
          height: 100%;
      }
        
      /*Jackson added
          */
        .homeHeaderRow {
            height: 500px;
            background-image: url('Content/images/BlurryDanceYunnan.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            color: white;
        }
        .homeRow {
            height: 100%;
        }
        .aboutMeRow {
            padding-top: 50px;
            background: #E7AF83;
            color: white;
           
            font-size: 24px; 
        }
        .socialContainer {
            background-color: #E7AF83;
            color: #f2f2f2;
            padding-bottom: 10px;
        }
      .socialButton {
          width: 90%;
          max-width: 250px;
      }
      .homeMainContainer {
          background: white;
           padding-bottom: 10px;
      }

        .recentBlogRow {
            background-color: #FF4545;
            color: white;
          
            padding-bottom: 10px;
        }
        .flashCardProjectRow {
            background-color: white;
            color: #4617B4;
            padding-bottom: 10px;
        }
        .projectScreenShotW8 {
            height:auto; 
            width:auto;
            max-width:400px;
            max-height:400px;
        }
      
     
    </style>
    
    <!--<link href="@Styles.Url("~/Content/css-responsive")" rel="stylesheet" type="text/css" />-->
    <link href="@Styles.Url("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
     <link href="~/Content/social-buttons.css" rel="stylesheet" type="text/css" />
   
    
    
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
        <hr>
        <footer class="offset2">
            <p>&copy; John Joseph Hayes, Jr. @System.DateTime.Now.ToString("yyyy")</p>
        </footer>
     <!-- container -->
    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)
</body>
</html>

